* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  width: 150px;
  height: 40px;
  background-color: #77d0e9;
  text-align: center;
}

.active {
  font-size: 20px;
  color: rgb(183, 3, 3);
}
